@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  align-items: center;
  justify-content: center;
  justify-items: center; }

.index section a:hover {
  transform: scale(1.1) translate(10px, 10px);
  transition: 0.3s ease-in-out; }

/* GENERAL */
/* INICIO: ANIMACION-SUBRAYADO */
.subrayado {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative; }

.subrayado::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #d50000;
  transition: width 0.50s ease-out; }

.subrayado:hover::before {
  width: 100%;
  right: 0;
  left: auto; }

/* FIN: ANIMACION-SUBRAYADO*/
body {
  background-color: #000000; }
  body h1 {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none; }
  body h1::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s; }
  body h1:hover::after {
    width: 100%;
    background: #d50000; }

.navbar {
  --bs-navbar-active-color: #d50000;
  --bs-navbar-padding-x: 16px;
  --bs-navbar-padding-y: 32px; }
  .navbar img {
    justify-content: end;
    margin: 8px;
    width: 80px;
    border-radius: 50%; }

.nav-link:focus,
.nav-link:hover {
  --bs-nav-link-hover-color: #d50000; }

.navbar-dropdown.bg-color.transparent {
  background: none; }

.navbar-brand {
  font-size: xx-large;
  color: #4c8c4a; }
  .navbar-brand:hover {
    color: #4c8c4a; }

a.nav-link {
  font-size: x-large; }

main {
  min-height: 80vh;
  border-color: #003300;
  border-width: 1px;
  border-style: solid;
  background-color: #2121211e;
  margin: 48px;
  padding: 16px; }
  main h1 {
    font-style: inherit; }

.text-focus-in {
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.footer {
  font-size: x-large;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  background-color: #003300; }
  .footer img {
    filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(89deg) brightness(103%) contrast(103%);
    height: 32px;
    width: 32px;
    margin: 16px; }

/* KEYFRAMES */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* INDEX */
.banner img {
  width: 100%;
  height: 880px; }

.banner button {
  padding-top: 25%; }

.index {
  padding: 50px;
  margin: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column; }
  .index h1 {
    color: white; }
  .index section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px; }
    .index section a {
      display: flex;
      justify-content: center; }
      .index section a img {
        border-radius: 16px;
        width: 75%; }

.contenedor-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "INFO SERVICE" "GALERIA CONTACTO"; }

.INFO {
  grid-area: INFO; }

.SERVICE {
  grid-area: SERVICE; }

.GALERIA {
  grid-area: GALERIA; }

.CONTACTO {
  grid-area: CONTACTO; }

.container {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0; }
  .container .main-card {
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s; }
    .container .main-card .cards {
      width: calc(100% / 2 - 10px);
      display: flex;
      flex-wrap: wrap;
      margin: 0 20px;
      justify-content: space-between; }
  .container .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px; }
    .container .button label {
      height: 15px;
      width: 15px;
      border-radius: 20px;
      background: #d50000;
      margin: 0 4px;
      cursor: pointer;
      transition: all 0.5s ease; }
      .container .button label.active {
        width: 35px; }

#two:checked ~ .main-card {
  margin-left: -100%; }

.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #3b3b3b;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease; }
  .main-card .cards .card:hover {
    transform: translateY(-15px); }

.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.card .content .name {
  font-size: 20px;
  font-weight: 500;
  color: #ff5131; }

.card .content .job {
  font-size: 20px;
  color: #fff;
  padding-bottom: 16px; }

.card .content a {
  color: #4c8c4a; }

.cuenta {
  color: #b6b6b6; }

#one:checked ~ .button .one {
  width: 35px; }

#one:checked ~ .button .two {
  width: 15px; }

#two:checked ~ .button .one {
  width: 15px; }

#two:checked ~ .button .two {
  width: 35px; }

input[type="radio"] {
  display: none; }

/* CONTACTO */
.form {
  font-size: x-large;
  margin: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 16px; }
  .form .fontcolor {
    padding: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white; }
    .form .fontcolor h1 {
      padding-bottom: 20px; }
  .form label {
    color: white;
    font-size: 24px; }

button {
  width: 160px;
  height: 56px;
  display: flex; }

.btn-primary {
  --bs-btn-bg: #1b5e20;
  --bs-btn-border-color: #1b5e20;
  --bs-btn-hover-bg: #d50000;
  --bs-btn-hover-border-color: #d50000;
  --bs-btn-active-bg: #d50000;
  --bs-btn-active-border-color: #d50000;
  --bs-btn-disabled-bg: #d50000;
  --bs-btn-disabled-border-color: #d50000;
  --bs-btn-focus-box-shadow: 0 0 0 0; }

.form-control:focus {
  border-color: #d50000;
  box-shadow: 0 0 0 0.1rem #d50000;
  outline: 0; }

/* GALERIA */
.galeria-h1 {
  display: grid;
  justify-content: center;
  align-items: center; }

.image-galeria {
  width: 100%; }

.row-galeria {
  display: flex;
  padding: 5px;
  flex-wrap: wrap; }

.column-galeria {
  flex: 25%;
  padding: 5px; }
  .column-galeria img {
    padding-top: 5px; }
    .column-galeria img:hover {
      box-shadow: 0px 0px 1px 1px #d50000;
      -webkit-box-shadow: 0px 0px 1px 1px #d50000; }

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); }
  .light-box img {
    width: 75vw;
    max-height: 70vh; }
  .light-box:target {
    transform: scale(1); }

.close {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: #d50000;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff; }
  .close:hover {
    background: #fff;
    color: #d50000; }

.next {
  display: block;
  background: #d50000;
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 25%; }
  .next:hover {
    background: #fff;
    color: #d50000; }

/* INFO */
.info {
  margin: 32px;
  font-size: x-large;
  padding: 8px;
  color: white; }
  .info p {
    padding-top: 16px; }

iframe {
  margin: 32px; }

.contenedor2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "TEXT IFRAME"; }

.TEXT {
  grid-area: TEXT; }

.IFRAME {
  grid-area: IFRAME; }

h2 {
  color: #fff;
  margin: 32px;
  padding: 8px; }

.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large; }

.section-info {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.container3 {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.accordion-item {
  background-color: #212121;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem; }

.accordion-link {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  background-color: #212121;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0; }
  .accordion-link:hover {
    color: #4c8c4a; }
  .accordion-link span {
    color: #d50000;
    padding: .5rem; }
  .accordion-link .remover {
    display: none; }

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212121;
  transition: max-height 650ms; }
  .answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #ff5131;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
  .answer p {
    color: #fff;
    font-size: 1.4rem;
    padding: 2rem; }

.accordion-item:target .answer {
  max-height: 20rem; }

.accordion-item:target .accordion-link .añadir {
  display: none; }

.accordion-item:target .accordion-link .remover {
  display: block; }

/* SERVICIOS */
.servicios {
  font-size: x-large;
  color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column; }
  .servicios h1 {
    margin: 24px; }
  .servicios .section-service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .servicios .section-service .carta {
      border-radius: 16px;
      width: 680px;
      height: 560px;
      margin: 24px;
      display: grid;
      grid-template-rows: minmax(100%, 1fr);
      grid-template-areas: "stack";
      overflow: hidden; }
      .servicios .section-service .carta img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .servicios .section-service .carta img,
      .servicios .section-service .carta figcaption {
        grid-area: stack; }
      .servicios .section-service .carta figcaption {
        grid-area: stack;
        background-color: #242424e0;
        transform: translateY(calc(100% - 6rem));
        transition: transform 600ms; }
        .servicios .section-service .carta figcaption h3 {
          height: 6rem; }
        .servicios .section-service .carta figcaption h3,
        .servicios .section-service .carta figcaption p {
          padding: 24px;
          color: #ffffff9d; }
      .servicios .section-service .carta:hover figcaption {
        transform: none; }

/* MEDIA QUERYS */
@media (max-width: 1400px) {
  .banner img {
    height: 600px; } }

@media (max-width: 1330px) {
  .section-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .contenedor-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "INFO" "SERVICE" "GALERIA" "CONTACTO"; } }

@media (max-width: 1200px) {
  .images {
    grid-template-columns: repeat(2, 2fr); }
  .index {
    margin: 48px;
    padding: 16px; }
  .info {
    padding-right: 32px; }
  .contenedor2 {
    grid-template-areas: "TEXT" "IFRAME"; } }

@media (max-width: 991px) {
  #logo {
    display: none; }
  .banner img {
    height: 500px; } }

@media (max-width: 881px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .images {
    grid-template-columns: repeat(1, 1fr); }
  iframe {
    height: 300px;
    width: 300px; }
  .column-galeria {
    flex: 50%; }
  .banner img {
    height: 400px; } }

@media (max-width: 768px) {
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px); } }

@media (max-width: 720px) {
  .index h1 {
    font-size: 100%; }
  .form {
    padding: 24px;
    font-size: medium; }
    .form label {
      font-size: medium; }
  .info {
    font-size: 16px; }
  .phrases span {
    font-size: medium; }
  .banner img {
    height: 300px; } }

@media (max-width: 600px) {
  .main-card .cards .card {
    width: 100%; }
  .column-galeria {
    flex: 100%; }
  .index img {
    width: 100%; }
  iframe {
    width: 200px;
    height: 200px; }
  main {
    margin: 16px; } }

@media (max-width: 550px) {
  figcaption p {
    font-size: 20px; }
  .close {
    bottom: 160px;
    right: 60px; } }

@media (max-width: 460px) {
  figcaption p {
    font-size: 16px; }
  .banner img {
    height: 280px; } }
