// VERDE

$colorVerdeClaro: #4c8c4a;
$colorVerde: #1b5e20;
$colorVerdeOscuro: #003300;

// GRIS

$colorGrisOscuro: #000000;
$colorGrisClaro: #484848;
$colorGris: #212121;

// ROJO

$colorRojoClaro: #ff5131;
$colorRojoOscuro: #9b0000;
$colorRojo: #d50000;

