// CENTRADO
%center {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

// BACKGROUND MAIN
@mixin main ($background) {
    min-height: 80vh;
    border-color: $colorVerdeOscuro;
    border-width: 1px;
    border-style: solid;
    background-color: $background;
    margin: 48px;
    padding: 16px;
}

// ANIMACION HOVER PARA IMG
%animationImage:hover {
    transform: scale(1.10) translate(10px, 10px);
    transition: 0.3s ease-in-out;
}