/* CONTACTO */



.form {
    font-size: x-large;
    margin: 48px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;

    & .fontcolor {
        padding: 8px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        color: white;

        & h1{
            padding-bottom: 16px;
        }
    }

    & label {
        color: white;
        font-size: 24px;
    }
}

button{

    width: 160px;
    height: 56px;
    display: flex;
    @extend %center;
}

.btn-primary {
    --bs-btn-bg: #1b5e20;
    --bs-btn-border-color: #1b5e20;
    --bs-btn-hover-bg: #d50000;
    --bs-btn-hover-border-color: #d50000;
    --bs-btn-active-bg: #d50000;
    --bs-btn-active-border-color: #d50000;
    --bs-btn-disabled-bg: #d50000;
    --bs-btn-disabled-border-color: #d50000;
    --bs-btn-focus-box-shadow: 0 0 0 0;
    
}


.form-control:focus {
    border-color: $colorRojo;
    box-shadow: 0 0 0 0.10rem $colorRojo;
    outline: 0;
}