/* GENERAL */

/* INICIO: ANIMACION-SUBRAYADO */

.subrayado {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.subrayado::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #d50000;
    transition: width 0.50s ease-out;
}

.subrayado:hover::before {
    width: 100%;
    right: 0;
    left: auto;
}

/* FIN: ANIMACION-SUBRAYADO*/


// BODY
body {
    background-color: $colorGrisOscuro;

    & h1 {
        display: inline-block;
        position: relative;
        color: #fff;
        text-decoration: none;
    }

    & h1::after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        transition: all .8s;
    }

    & h1:hover::after {
        width: 100%;
        background: $colorRojo;
    }
}

// NAVBAR
.navbar {
    --bs-navbar-active-color: #d50000;
    --bs-navbar-padding-x: 16px;
    --bs-navbar-padding-y: 32px;

    img {
        justify-content: end;
        margin: 8px;
        width: 80px;
        border-radius: 50%;
    }
}

.nav-link:focus,
.nav-link:hover {
    --bs-nav-link-hover-color: #d50000;
}

.navbar-dropdown.bg-color.transparent {
    background: none;
}

.navbar-brand {
    font-size: xx-large;
    color: $colorVerdeClaro;

    &:hover {
        color: $colorVerdeClaro;
    }
}

a.nav-link {
    font-size: x-large;
}

// MAIN
main {
    @include main (#2121211e);

    & h1 {
        font-style: inherit;
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

// FOOTER
.footer {
    font-size: x-large;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    background-color: $colorVerdeOscuro;

    & img {
        filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(89deg) brightness(103%) contrast(103%);
        height: 32px;
        width: 32px;
        margin: 16px;
    }
}

/* KEYFRAMES */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}