/* INDEX */

.banner img {
    max-width: 100%;
    height: auto;
}

.index {
    padding: 50px;
    margin: 100px;
    align-items: center;

    h1 {
        color: white;
    }
}

.linkimage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
