/* INDEX */

.banner img {
    width: 100%;
    height: auto;
}

.index {
    padding: 50px;
    margin: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
    }

    & .section-index {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & a {
            display: flex;
            justify-content: center;
        }

        & .linkimage {
            padding: 24px;
            margin: 24px;
            width: 50%;
            @extend %animationImage;
        }
    }



}