/* INFO */

.info {
    margin: 32px;
    font-size: x-large;
    padding: 8px;
    color: white;

    & p {
        padding-top: 16px;
    }
}

iframe {
    margin: 32px;
}

.contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "TEXT IFRAME";
}

.TEXT {
    grid-area: TEXT;
}

.IFRAME {
    grid-area: IFRAME;
}

h2 {
    color: #fff;
    margin: 32px;
    padding: 8px;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.section-info {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item {
    background-color: $colorGris;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    // box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link {
    font-size: 1.6rem;
    color: $colorRojo;
    text-decoration: none;
    background-color: $colorGris;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    &:hover {
        color: $colorRojoOscuro;
    }

    & span {
        color: $colorRojo;
        padding: .5rem;
    }

    & .remover {
        display: none;
    }
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: $colorGris;
    transition: max-height 650ms;

    &::before {
        content: "";
        position: absolute;
        width: .6rem;
        height: 90%;
        background-color: $colorVerde;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }


    & p {
        color: #fff;
        font-size: 1.4rem;
        padding: 2rem;
    }
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .añadir {
    display: none;
}

.accordion-item:target .accordion-link .remover {
    display: block;
}